body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #b7d3fd;
}

header {
    background-color: #ffa7dd;
    color: white;
    padding: 20px;
}

.navbar{
    display: flex;
    background-color: rgb(0, 0, 0);
}
.navbar a {
    color: rgb(255, 98, 185);
    padding: 14px 20px; 
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #cafffb;
    color: black;
}

.contact-container {
    max-width: 90%;
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    background-color: rgb(255, 159, 231);
}

.email-form {
    max-width: 350px;
    width: 90%;
    margin: 50px auto;
    padding: 40px;
    border: 5px solid #ffafe4;
    border-radius: 10px;
    background: linear-gradient(to bottom, #9fdcff, #fff);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.email-form h2 {
    color: #ff5dbd;
    margin-bottom: 15px;
    font-size: 22px;
}

.email-form .user-icon {
    font-size: 60px;
    color: #ff5dbd;
    margin-bottom: 20px;
}

.email-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email-form label {
    font-weight: bold;
    color: #333;
    text-align: left;
}

.email-form input, 
.email-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffafe4;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(194, 241, 255);
    outline: none;
}

.email-form input:focus, 
.email-form textarea:focus {
    border: 1px solid #ff5dbd;
}

.email-form .remember-me {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.email-form button {
    background-color: #ff5dbd;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: 0.3s;
}

.email-form button:hover {
    background-color: #ff94d8;
}

footer {
    background-color: #333;
    color: rgb(255, 181, 227);
    padding: 10px;
    width: 100%;
    margin-top: 40px;
}
